<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs"/>

    <appender name="consola" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MMM-yyyy | HH:mm:ss} [%thread] %-5level %logger ----- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="consola"/>
    </root>
</configuration>